---
import MainLayout  from "../layout/MainLayout.astro"
---
<!-- contoh git -->
<MainLayout title="pokeDex">
	<section>
   <div>

<figure> <img src="" alt=""/>

 halooo  testtt


</figure>


   </div>
	</section>
</MainLayout>
